nav{
    color: #eee;
}
.card-perso{
    margin: 30px;
    color: #eee;
}
.bg-r-blue{
    background-color: #277bd2;
    color: #eee;
}

img{
    width: 50px;
}

.cardLeftPart {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cardRightPart{
    padding-bottom: 2em;  
}