<template id="tmplFormation">
    <h5 class="card-title" style="color:#212529bf" data-cv = "formationName"></h5>
    <h6 class="card-title" data-cv="formationDate">2021 - 2021</h6>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10"></div>
    </div>
    <div class="row">
        <div class="col-2">
        <img src="img/logo_AJC_formation_PNG.png" alt="ajc" data-cv="formationLogo">
        </div>
        <div class="col-10" style="text-align: left;" >
        <p class="card-text" formationLibelle>Test et automatisation de test - Certification ISTQB Tester Foundation</p>
        </div>
    </div>
</template>
